body{
    margin:0;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
header{
    width:100%;
    background-color: #000000;
    height: 70px;
    padding: 4px 30px;
    box-sizing: border-box;
    
}
footer{
    width: 100%;
    height: 180px;
    margin-top: 64px;
    padding-top: 40px;
    background-color: #111;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
}
.header-content{
    width:100%;
    height:20px;
    display: flex;
    align-items:center;
    position: relative;
}
.header-img img{
    display:inline-block;
    vertical-align: bottom
}
.header-left form{
    display:inline-block!important;
    position: absolute;
    top:-13px;
   
}
.search-box{
    display:inline-block;
}
.search-box input{
    width: 180px;
    height:38px;
    position: relative;
    border-radius: 2px;
    padding-left: 30px;
}
.header-left search-area{
    width: 180px;
    display: inline-block;
    position: relative;
    border-radius: 2px;
    padding-left: 30px;
}
.submit{
    display: none;
}
.header-right{
    margin-left:auto;
}
.header-right p{
    color:white;
}
/*新規登録とログインのボタン*/
.sign_up{
    background-color: #4a90e2 ;
    color:white;
    padding:10px;
    border-radius: 5px;
}
.sign_in{
    background-color: #6C757D ;
    color:white;
    padding:10px;
    border-radius: 5px;
}
.sign-up:hover{
    opacity:0.5;
}
.sign-in:hover{
    opacity:0.5;
}
/*ドロップダウンメニュー*/
.dropdwn{
    width:170px;
    padding:0 10px;
    position:relative;
    box-sizing: border-box;
    z-index:3;
}
.dropdwn>li{
    color:white;
    height:50px;
}
.dropdwn ul{
    text-align: center!important;
    list-style-type: none!important;
    margin: 0 auto!important;
    padding: 0!important;
    color: #fff!important;
    background-color: white;
}
.user-list-title li :first-child{
    color:black;
}
.dropdwn_menu{
    position: absolute;
    top:70px;
    display:none;
}
/*トップページ*/
.main-top{
    background-image:url(https://presite-potepancamp-rails-02.herokuapp.com/assets/img_cover_top.jpg);
    background-size:cover;
    width:100%;
    height:650px;
}
.top-wrapper{
    max-width:1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
.form-box{
    height: 650px;
    display: flex;
    align-items: center;
}
.form-area{
    background: #fff;
    padding: 24px;
    border-radius: 5px;
}
.form-area p{
    margin:0;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 1px;
}
.top-search{
    width:477px;
    height:38px;
    margin-top:20px;
}
.button{
    display:block!important;
    background-color: #4a90e2 !important;
    border-color: #4a90e2;
    color:white!important;
    padding:10px!important;
    border-radius: 5px!important;
    width:485px;
    height:38px;
    margin-top:20px;
    cursor: pointer;
}
.select-title{
    font-size:24px;
    margin:35px 0 35px 230px;
    font-weight:bold;
}
.area-box{
    width:1014px;
    display:flex;
    margin:0 auto;
}
.area-content{
    position:relative;
    width:25%;
    padding:0 15px;
}
.area-content span{
    position:absolute;
    bottom:25px;
    left:0;
    right:0;
    color:white;
    font-size:24px;
    font-weight:bold;
    text-align:center;
    
}
.area-content img{
    width:100%;
    height:360px;
    object-fit:cover;
    border-radius:5px;
}
/*新規登録・ログイン画面*/
.container{
    width:100%;
    padding:0 15px;
    margin-left:auto;
    margin-right: auto;
}
.sign{
    padding-top:15px;
    font-size:16px;
}
.sign-flame{
    text-align: center;
}
.sign-title{
    font-size: 16px;
    margin-top:24px;
    margin-bottom: 24px
}
.sign-inner{
    width:380px;
    margin:0 auto;
}
.field{
    margin-top:10px;
    display: flex;
}
.field-icon{
    margin-top: 5px;
}
.field-icon:before{
    color:white;
    content:"必須";
    background-color:#ff0000a8;
    font-size:12px;
    border-radius:5px;
    padding:4px;
    margin: 0 5px;
    
}
.field input{
    width:290px;
    height:24px;
    padding:6px 8px;
}
.actions{
    margin-top: 20px
}
.actions input{
    display:block;
    color:white;
    background-color:#4a90e2;
    width:100%;
    cursor:pointer;
    padding:5px 20px;
    border:none;
    border-radius:5px;
    font-size:18px;
}
.other-sign{
    margin-top: 20px;
}
.other-sign-link{
    color:#007bff;
    font-size:18px;
}

/*ルーム登録画面*/
.room_register-contents{
    background-color:#F6F8F9;
}
.room-box{
    max-width:900px;
    background-color:#fff;
    border:1px solid #eaedef;
    margin:50px auto;
}
.room-detail{
    font-size:16px;
    border-bottom:1px solid #eaedef;
    padding:20px;
    margin:0 15px;
    display:flex;
}
.room-detail input{
    width:628px;
    height:38px;
}
.name input{
    margin-left:50px;
}
.room-detail textarea{
    width:628px;
    height:134px;
    margin-left:35px;
}
.mini input{
    margin-left:80px;
}
.room-icon:after{
    color:white;
    content:"必須";
    background-color:#ff0000a8;
    font-size:12px;
    border-radius:5px;
    padding:4px;
    margin: 0 5px;
}
.room_register_action input{
    display:block;
    color:white;
    background-color:#4a90e2;
    width:30%;
    cursor:pointer;
    padding:5px 20px;
    border:none;
    border-radius:5px;
    font-size:18px;
    margin:10px auto;
}

/*登録済みルーム一覧*/
.room_index{
    max-width:1200px;
    margin:0 auto;
}

tr{
    font-size:13px;
}
/*ルーム一覧*/
.room_box{
    width:100%;
    padding:30px 60px;
    box-sizing:border-box;
}
.room_box a{
    color:#000;
}
.row{
    display: flex;
    flex-wrap:wrap;
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
}
.row-wrapper{
    width: 25%;
    padding:0 15px;
    box-sizing: border-box;
    
}
.room_detail{
    border: 1px solid #e2e2e2;
    margin-bottom: 10px;
}
.room_image{
    position: relative;
    width: 100%;
    background: #F6F8F9;
    object-fit: cover;
    height:200px;
}
.room_image img{
    position:absolute;
    top:20px;
}
.room_profile{
    width: 100%;
    padding: 15px;
}
/*ルーム詳細ページ*/
.room_detail_contents{
    max-width:1140px;
    padding:30px 0;
    box-sizing: border-box;
    width:100%;
    margin-left: auto;
    margin-right: auto;
}

.detail-left{
    max-width:66.6%;
}
.detail-left img{
    width: 100%;
    object-fit: cover;
}
.room_detail_profile{
    display:flex;
    align-items:center;
}
.room_detail_icon{
    padding:10px;
}
.room_detail_icon img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50px;
}
.profile_name{
    padding:15px;
}
.detail-right{
    max-width:33.3%;
    padding:0 15px;
}
.reserve-box{
    padding: 20px;
    border: 1px solid #eaedef;
}


/*プロフィール編集画面*/
.user-profile{
    background-color: #F6F8F9;
    border-left: 2px solid #e2e2e2;
}
.profile-box{
    max-width: 880px;
    background-color: #fff;
    border: 1px solid #eaedef;
    margin: 30px auto;
}
.update-contents{
    border-bottom: 1px solid #eaedef;
    padding: 20px;
    margin: 0 15px;
    font-size: 16px;
}
.update-contents label{
    padding:0 15px;
    max-width:25%;
}
.profile-image-current{
    text-align: center;
}
.profile-name{
    width: 75%;
}
.profile-name input{
    width:100%;
    height:38px;
    margin-left:65px;
}
.update-contents textarea{
    width:75%;
    height:134px;
}
.update-contents label:after{
    color:white;
    content:"必須";
    background-color:#ff0000a8;
    font-size:12px;
    border-radius:5px;
    padding:4px;
    margin: 0 5px;
}
.profile-button input{
    cursor: pointer;
    width:140px;
     background-color: #4a90e2 ;
    color:white;
    padding:10px;
    border-radius: 5px;
    border-color: #4a90e2;
}
/*予約確認画面*/
.reserve-new{
    width:100%;
    max-width:1140px;
    padding:0 30px;
    margin:0 auto;
    box-sizing: border-box;
}
.reserve-new-nav{
    margin-top:30px;
    margin-left: 290px;
    padding: 20px;
    border: 1px solid #eaedef;
}
.reserve-new-nav h4{
    border-bottom: 1px solid #eaedef;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size:28px;
    margin:0 ;
}
.reserve-new-nav h5{
    font-size:22px;
    margin:10px 0 8px 0;
    
}
.confirm-field label{
    display:block;
    letter-spacing:2px;
    font-size:14px;
    margin:10px 0;
}
.confirm-field input{
    width:513px;
    height:38px;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 2px;
    opacity: 1;
}
.reserve-action input{
    display:block;
    color:white;
    background-color:#4a90e2;
    width:513px;
    cursor:pointer;
    padding:5px 20px;
    border:none;
    border-radius:5px;
    font-size:18px;
    margin:10px auto;
}
.back-action input{
    display:block;
    color:white;
    background-color:#6C757D;
    width:513px;
    cursor:pointer;
    padding:5px 20px;
    border:none;
    border-radius:5px;
    font-size:18px;
    margin:10px auto;
}
/*予約完了画面*/
.reserve_complete{
    width:100%;
    background-color: #F6F8F9;
}
.complete_wrapper{
    width:100%;
}
.complete_box{
    max-width:880px;
    background-color: #fff;
    border: 1px solid #eaedef;
    margin: 30px auto;
    box-sizing: border-box;
}
.complete_items{
    display:flex;
    border-bottom: 1px solid #eaedef;
    padding: 20px;
    margin: 0 15px;
    font-size: 16px;
    box-sizing: border-box;
}
.complete_items label{
    max-width:25%;
    padding:0 15px;
}
.complete_item{
    max-width: 75%;
    
}
.complete_1{
    margin-left:130px;
}
.complete_2{
    margin-left:190px;
}
.complete_3{
    margin-left:175px;
}
.complete_action{
    text-align:center;
    margin-top:-10px;
}
.complete_action a{
    background-color: #4a90e2 ;
    color:white;
    padding:10px;
    border-radius: 5px;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
